errorAnal/images_for_comparision
*.pth
# widerface_evaluate/**images/**.jpg
# widerface_evaluate/**imgResults/**.jpg
widerface_evaluate/widerface_txt
widerface_evaluate/ground_truth/images
data/**/images/
# *.jpg
*.mp4
.vscode
gitToken.py
gitCred.py
gitToken.txt
__pycache__/
evalData/**/outResults/
evalData/**/results/
inference/
# data/config.py
runs/
trainLogs/
evalLogs/
*__pycache__*
# *config.py

oldevalData/
oldevalLogs/
oldlogs/


newvids/
test/

sendToJatin.zip
sendToJatin/

prData/
prData7/

evalLogsnew/
